<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

	<nav th:replace="layouts :: navbar"></nav>
	<div class="container">
		
		<form th:action="@{/projects/run-batch}" enctype="multipart/form-data" method="POST">
		
			<div class="form-group">
            	<label for="myFile" class="col-sm-3 control-label">Process File</label>
                <div class="col-sm-9">
                	<input type="file" name="myFile" />
              	</div>
          	</div>
			
       		<button type="submit">Projects Loading Batch</button>
    
    	</form>
	</div>
	
</body>
</html>